body{
    background-color: gainsboro;
}
#buttons-row{
    margin-top: 2px;
    background-color: lightslategray;
    border: 2px solid gray;
    height: 75px;
}
.button {
    background-color: blue;
    margin-left: 10px;
    color: white;
}

#inp-col{
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

h3{
    
    float: left;
}

#user-input{
    margin-left:5px;
}

.gif{
    margin-left: 10px;
    margin-top: 10px;
    border:2px solid black;
    width: 260px;
    height: 200px;
}

#gifs-col{
    margin-left: 100px;
}